body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.vote-image img {
  width: 100%;
  max-width: 300px; /* Adjust the max-width as needed */
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adjust gap as needed */
  margin-right: 50px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.sidebar img {
  width: 50px;
  height: 70px;
  cursor: pointer;
  border: 2px solid #fd8fd1;
  border-radius: 5px;
  transition: transform 0.2s;
  padding-right: 10%;
}

.sidebar img:hover {
  transform: scale(1.1);
}



#model-image {
  width: 100px;
  height: 100%;
  margin-left: 55%;
  /* margin-top: 5rem; */
}

#clothing-item {
  position: absolute;
  top: 0;
  left: 0;
}

/* Specific clothing item styles for the model */
.model-image.top {
  margin-top: 17.4%;
  margin-left: 50.4%;
  width: 100px;
  height: 30%;
}

.model-image.dress2 {
  margin-top: 18.7%;
  margin-left:47.1%;
  height: 33%;
  width: 11%;
}

.model-image.dress3 {
  margin-top:20%;
  margin-left: 49.5%;
  height: 30%;
  width: 8%;
}

.model-image.dress4 {
  margin-top: 15.5%;
  margin-left: 50.1%;
 width : 8%;
  height: 40%;
}

.model-image.dress5 {
  margin-top: 17.8%;
  width: 10%;
  height: 35%;
  margin-left: 48.2%;
}

#logo {
  height: 40%;
  width:160px;
}

.navv{
  display: flex;
  justify-content: space-around ;
  align-items: center;
  width: 100%; 
  gap: 130px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icon {
  height: auto;
  background-color: transparent; 
}

.icon:nth-child(1) {
  height: 30px;
  width: 30px;
}

.icon:nth-child(2) {
  height: 17px;
  width: 15px;
}

.icon:nth-child(3) {
  height: 40px;
  width: 70px;
}

/* .icon1-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
  gap: 60px;
}

.icon1:nth-child(1) {
  height: 10%;
  width: 63px;
}

.icon1:nth-child(2) {
  height: 47px;
  width: 55px;
}

.icon1:nth-child(3) {
  height: 40px;
  width: 30px;
}

.icon1:nth-child(4) {
  height: 10px;
  width: 30px;
} */

.bottomnav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.small{
  display: flex;
  align-items: center;
}

.bottomtext{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.1rem;
}

.content {
  margin-left: 10%;
 width: 100%; /* Adjust as needed */
  height: 100% /* Adjust as needed */

}

#model-image-right{
  background-color: #EDADD7BD;
  padding: 10px;
}

#model-image-left{
   background-color: #EDADD7;
  padding: 10px;
}

#clothing-item-left,
#clothing-item-right {
  position: absolute;
  top: 0;
  left: 0;
}

#clothing-item-left.model-image.top {
  top: -1%;
  left: -13.9%;
  width: 8.4%;
  height: 30%;
}

#clothing-item-right.model-image.top {
  top: -1%;
  left: -1.8%;
  width: 8.4%;
  height: 30%;
}
#clothing-item-right.model-image.dress2 {
  top: -2.1%;
  left: -2.7%;
  height: 33%;
  width: 13.1%;
}
#clothing-item-left.model-image.dress2 {
  top: -2.1%;
  left: -14.8%;
  height: 33%;
  width: 13.1%;
}

#clothing-item-left.model-image.dress5 {
  top: -1%;
  left: -14.7%;
  width: 12%;
  height: 35%;
}

#clothing-item-left.model-image.dress3 {
  top: -1.8%;
  left: -14.65%;
  width: 10%;
  height: 35%;
}
#clothing-item-right.model-image.dress3 {
  top: -1.8%;
  left: -2.6%;
  width: 10%;
  height: 35%;
}
#clothing-item-right.model-image.dress5 {
  top: -0.7%;
  left: -2.6%;
  width: 12%;
  height: 35%;
}

#clothing-item-right.model-image.dress4 {
  top: -2%;
  left: -2.5%;
  width : 10%;
  height: 40%;
}
#clothing-item-left.model-image.dress4 {
  top: -2%;
  left: -14.6%;
  width : 10%;
  height: 40%;
}
